# 01__preprocess_mpranalyze_quantify

Re-shape counts to be in the input format needed to run MPRAnalyze. [note: negative controls in the quantification model are just random sequences, expected to have no activity].

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import math
import matplotlib.pyplot as plt
import numpy as np
import re
import seaborn as sns
import sys

from scipy.stats import spearmanr

# import utils
sys.path.append("../../../utils")
from plotting_utils import *

%matplotlib inline
%config InlineBackend.figure_format = 'svg'
mpl.rcParams['figure.autolayout'] = False

In [2]:
sns.set(**PAPER_PRESET)
fontsize = PAPER_FONTSIZE

In [3]:
np.random.seed(2019)

## functions

In [4]:
def get_barc_id(row):
    str_split = row.tile_id.split(".")
    return str_split[-1]

In [5]:
def dna_status(row, barc_thresh, perc_barc_thresh, ctrl_elems):
    samp_cols = [x for x in row.index if "samp:" in x]
    vals = row[samp_cols]
    if row.element not in ctrl_elems:
        tot_barcs = len(vals)
        n_barcs_above_thresh = len([x for x in vals if x >= barc_thresh])
        perc_barcs_above_thresh = n_barcs_above_thresh / tot_barcs
        if perc_barcs_above_thresh >= perc_barc_thresh:
            return "good"
        else:
            return "bad"
    else:
        return "good"

In [6]:
def get_ctrl_status(row):
    if pd.isnull(row.tile_type):
        return False
    elif row.tile_type == "RANDOM":
        return True
    else:
        return False

## variables

In [7]:
counts_dir = "../../../data/01_counts"

In [8]:
VSMC_data_f = "%s/VSMC__all_counts_final.4.txt" % counts_dir

In [9]:
index_f = "../../../data/design/Hypertension__pooled.index.txt"

## 1. import data

In [15]:
VSMC_data = pd.read_table(VSMC_data_f, sep="\t")
VSMC_data.head()

       barcode  dna_1   rep_1  rep_2  rep_3  rep_6
0  TAATTTGCGTG    497   198.0  104.0  243.0  102.0
1  GGTATGTCGGC    255     NaN  190.0  114.0  142.0
2  GTCGTCAATAA    245   105.0  275.0  132.0   82.0
3  ATAACATAGGC     46     NaN    NaN    1.0    NaN
4  ACATTTCGAGG    753  1123.0   19.0    NaN  288.0

In [11]:
index = pd.read_table(index_f, sep="\t")
index_elem = index[["element", "tile_type"]].drop_duplicates()

## 2. merge data w/ index

In [16]:
VSMC_data.columns = ["barcode", "dna_1", "VSMC_rep1", "VSMC_rep2", "VSMC_rep3", "VSMC_rep4"]

In [17]:
df = VSMC_data.merge(index[["barcode", "element", "tile_type", "tile_id"]], on="barcode")
df["barc_id"] = df.apply(get_barc_id, axis=1).astype(int)
df.head()

,barcode,dna_1,VSMC_rep1,VSMC_rep2,VSMC_rep3,VSMC_rep4,element,tile_type,tile_id,barc_id
0,TAATTTGCGTG,497,198.0,104.0,243.0,102.0,TGTGGTACTTCCCCCTTAGTTCTCCTGTCTCTCTCCTGCTCCTCCA...,WILDTYPE_BUT_HAS_SNP,1719.1.0.0.0.0.8,8
1,GGTATGTCGGC,255,NaN,190.0,114.0,142.0,TCGGGAGGCTGATGCAGGAGAATCGCTTGAATCTGGGAGGTGGAGT...,WILDTYPE_BUT_HAS_SNP,1956.1.0.0.0.0.1,1
2,GTCGTCAATAA,245,105.0,275.0,132.0,82.0,CCCTCAATCCAAGTCAATGGCCTCCTGAGAGCTCCATATGACCAGC...,WILDTYPE_SNP_INDIV,1267.1.0.68.0.0.8,8
3,ATAACATAGGC,46,NaN,NaN,1.0,NaN,TTTTATGTGAAAATGAAGCTCTATAACAACCAAGTCAGGGGACCTA...,WILDTYPE_BUT_HAS_SNP,2550.1.0.0.0.0.11,11
4,ACATTTCGAGG,753,1123.0,19.0,NaN,288.0,TTGCATTGAGATAATGGTAGATTCACATTCATTTCTAAGAAATAAT...,WILDTYPE_SNP_INDIV,4423.1.0.68.0.0.25,25

## 3. create separate df for dna and rna counts

In [18]:
dna_counts = df[["element", "barcode", "tile_type", "barc_id", "dna_1"]]
rna_counts = df[["element", "barcode", "tile_type", "barc_id", "VSMC_rep1", "VSMC_rep2", "VSMC_rep3", "VSMC_rep4"]]
rna_counts.head()

,element,barcode,tile_type,barc_id,VSMC_rep1,VSMC_rep2,VSMC_rep3,VSMC_rep4
0,TGTGGTACTTCCCCCTTAGTTCTCCTGTCTCTCTCCTGCTCCTCCA...,TAATTTGCGTG,WILDTYPE_BUT_HAS_SNP,8,198.0,104.0,243.0,102.0
1,TCGGGAGGCTGATGCAGGAGAATCGCTTGAATCTGGGAGGTGGAGT...,GGTATGTCGGC,WILDTYPE_BUT_HAS_SNP,1,NaN,190.0,114.0,142.0
2,CCCTCAATCCAAGTCAATGGCCTCCTGAGAGCTCCATATGACCAGC...,GTCGTCAATAA,WILDTYPE_SNP_INDIV,8,105.0,275.0,132.0,82.0
3,TTTTATGTGAAAATGAAGCTCTATAACAACCAAGTCAGGGGACCTA...,ATAACATAGGC,WILDTYPE_BUT_HAS_SNP,11,NaN,NaN,1.0,NaN
4,TTGCATTGAGATAATGGTAGATTCACATTCATTTCTAAGAAATAAT...,ACATTTCGAGG,WILDTYPE_SNP_INDIV,25,1123.0,19.0,NaN,288.0

In [19]:
dna_counts = dna_counts.sort_values(by=["element", "barc_id"])
rna_counts = rna_counts.sort_values(by=["element", "barc_id"])

## 4. library depth correction

In [20]:
dna_counts_elem = dna_counts.groupby(["element", "tile_type"])["dna_1"].agg("sum").reset_index()
dna_counts_elem = dna_counts_elem[["element", "dna_1"]]
dna_counts_elem.set_index("element", inplace=True)
dna_counts_elem.head()

                                                    dna_1
element
AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAGG...   6912
AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAGG...   8102
AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCTA...   8667
AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCTA...   8311
AAAAAAAAAAAAAAAAAAAGATACTTATTTTTGTCCTTTAAACAAGG...   1878

In [21]:
rna_counts_elem = rna_counts.groupby(["element", "tile_type"])["VSMC_rep1", "VSMC_rep2", "VSMC_rep3", "VSMC_rep4"].agg("sum").reset_index()
rna_counts_elem = rna_counts_elem[["element", "VSMC_rep1", "VSMC_rep2", "VSMC_rep3", "VSMC_rep4"]]
rna_counts_elem.set_index("element", inplace=True)
rna_counts_elem.head()

,VSMC_rep1,VSMC_rep2,VSMC_rep3,VSMC_rep4
element,,,,
AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAGGCATCTGTGGTCCCAGCTGCTAAGGGTACTGAGGTAGAAGGGTGGCTTGAGCCTGGGAGGTCAAGGCTGCAGTCAGCCGTGTTCATACC,2799.0,2313.0,2264.0,1524.0
AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAGGCATCTGTGGTCCCAGCTGCTTAGGGTACTGAGGTAGAAGGGTGGCTTGAGCCTGGGAGGTCAAGGCTGCAGTCAGCCGTGTTCATACC,2269.0,2489.0,2677.0,1404.0
AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCTATAATCCCAGCTACAGCCACTAAGGAAGCTGAGGCAGCAGAACCATTTGAACCCAGGAGGCAGAGGTTGCAGGGAGCCAAGATCGCGCC,3277.0,3047.0,5107.0,2790.0
AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCTATAATCCCAGCTACAGCCACTCAGGAAGCTGAGGCAGCAGAACCATTTGAACCCAGGAGGCAGAGGTTGCAGGGAGCCAAGATCGCGCC,2756.0,3891.0,3737.0,1897.0
AAAAAAAAAAAAAAAAAAAGATACTTATTTTTGTCCTTTAAACAAGGATAGGTAGGGGGTTCTTGTTATCCAGGAAAGTCTTTTTGTTGCAAATAGCTTTCTGCCTAGATGAAGCTTGACTGTTAGTTATGCCCT,1082.0,453.0,927.0,152.0

## 5. create annotation file for library depth correction

In [22]:
# col annotations for depth estimation
dna_depth_anns = {"dna_1": {"sample": "1", "condition": "dna"}}
rna_depth_anns = {"VSMC_rep1": {"sample": "1", "condition": "VSMC"}, 
                  "VSMC_rep2": {"sample": "2", "condition": "VSMC"},
                  "VSMC_rep3": {"sample": "3", "condition": "VSMC"},
                  "VSMC_rep4": {"sample": "4", "condition": "VSMC"}}

dna_depth_anns = pd.DataFrame.from_dict(dna_depth_anns).T
rna_depth_anns = pd.DataFrame.from_dict(rna_depth_anns).T
rna_depth_anns

          sample condition
VSMC_rep1      1      VSMC
VSMC_rep2      2      VSMC
VSMC_rep3      3      VSMC
VSMC_rep4      4      VSMC

## 6. write library depth correction files

In [23]:
# write depth estimation files
mpranalyze_dir = "%s/mpranalyze_files" % counts_dir

dna_depth_anns.to_csv("%s/dna_col_ann.for_depth_estimation.mpranalyze_final.VSMC.txt" % mpranalyze_dir, sep="\t")
rna_depth_anns.to_csv("%s/rna_col_ann.for_depth_estimation.mpranalyze_final.VSMC.txt" % mpranalyze_dir, sep="\t")

dna_counts_elem.to_csv("%s/dna_counts.for_depth_estimation.mpranalyze_final.VSMC.txt" % mpranalyze_dir, sep="\t", index=True)
rna_counts_elem.to_csv("%s/rna_counts.for_depth_estimation.mpranalyze_final.VSMC.txt" % mpranalyze_dir, sep="\t", index=True)

## 7. to run MPRAnalyze, get data in pivot format (opposite of tidy format)

In [24]:
# first filter to the TSSs we care about quantifying
test_elems = list(index[index["tile_type"].str.contains("WILDTYPE")]["element"].unique())
ctrl_elems = list(index[index["tile_type"] == "RANDOM"]["element"].unique())
pos_ctrl_elems = list(index[index["tile_type"].str.contains("CONTROL")]["element"].unique())
print(len(test_elems))
print(len(ctrl_elems))
print(len(pos_ctrl_elems))
good_elems = test_elems + ctrl_elems
len(good_elems)

9341
335
42

9676

In [25]:
dna_counts_filt = dna_counts[dna_counts["element"].isin(good_elems)]
rna_counts_filt = rna_counts[rna_counts["element"].isin(good_elems)]
len(rna_counts_filt)

191931

In [26]:
dna_counts_pos_ctrls = dna_counts[dna_counts["element"].isin(pos_ctrl_elems)]
rna_counts_pos_ctrls = rna_counts[rna_counts["element"].isin(pos_ctrl_elems)]
len(rna_counts_pos_ctrls)

3602

In [27]:
dna_counts_filt = dna_counts_filt.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_filt = rna_counts_filt.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_filt.head()

,element,barcode,tile_type,barc_id,variable,value
0,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,AAACACAGCTA,WILDTYPE_SNP_INDIV,1,VSMC_rep1,NaN
1,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,CGACGTGTAAA,WILDTYPE_SNP_INDIV,2,VSMC_rep1,133.0
2,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,CTAGTCGGCTA,WILDTYPE_SNP_INDIV,3,VSMC_rep1,64.0
3,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,ATGTTCGTATC,WILDTYPE_SNP_INDIV,4,VSMC_rep1,314.0
4,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,GCAGCGTGCAA,WILDTYPE_SNP_INDIV,5,VSMC_rep1,7.0

In [28]:
dna_counts_pos_ctrls = dna_counts_pos_ctrls.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_pos_ctrls = rna_counts_pos_ctrls.melt(id_vars=["element", "barcode", "tile_type", "barc_id"])
rna_counts_pos_ctrls.head()

,element,barcode,tile_type,barc_id,variable,value
0,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,GACCTATACGC,CONTROL_SNP_INDIV,1,VSMC_rep1,2.0
1,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,TTCGGCGTAGA,CONTROL_SNP_INDIV,2,VSMC_rep1,135.0
2,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,AAGATTACGTA,CONTROL_SNP_INDIV,3,VSMC_rep1,NaN
3,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,GTAGAACGATA,CONTROL_SNP_INDIV,4,VSMC_rep1,NaN
4,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,TTTGGAAACCG,CONTROL_SNP_INDIV,5,VSMC_rep1,18.0

In [29]:
dna_counts_filt["samp_id"] = "samp:" + dna_counts_filt["variable"] + "__barc:" + dna_counts_filt["barc_id"].astype(str)
rna_counts_filt["samp_id"] = "samp:" + rna_counts_filt["variable"] + "__barc:" + rna_counts_filt["barc_id"].astype(str)
rna_counts_filt.sample(5)

,element,barcode,tile_type,barc_id,variable,value,samp_id
4106,AAAGATGGGAGTTTCAGCAGGGGAGCAAAAAAGACCACCCACCCTG...,CAATCGATGTT,WILDTYPE_SNP_INDIV,13,VSMC_rep1,147.0,samp:VSMC_rep1__barc:13
517853,GTGTACATTTAACTTATATATGTATATGTGTGTGTAAATAAAACCT...,ATTAGGTAGTC,WILDTYPE_SNP_INDIV,18,VSMC_rep3,NaN,samp:VSMC_rep3__barc:18
498953,GCGGGTGGGTCTAAATGGCTCAGATTGGTTAAGAAGGCTATGGGAC...,AGTTATCGCGG,WILDTYPE_SNP_INDIV,10,VSMC_rep3,NaN,samp:VSMC_rep3__barc:10
622447,ATCCTGGTGTAGGTGAAAGTGCCTGACCTGTAGAGGGTATAGTGTC...,AGCTCGAACCT,WILDTYPE_BUT_HAS_SNP,23,VSMC_rep4,NaN,samp:VSMC_rep4__barc:23
671139,CTTGGGTGGGCAGCAGAATTCTGCACATGACGAGTGGCTGCAGCTT...,GGATCGACATA,WILDTYPE_BUT_HAS_SNP,24,VSMC_rep4,108.0,samp:VSMC_rep4__barc:24

In [30]:
dna_counts_pos_ctrls["samp_id"] = "samp:" + dna_counts_pos_ctrls["variable"] + "__barc:" + dna_counts_pos_ctrls["barc_id"].astype(str)
rna_counts_pos_ctrls["samp_id"] = "samp:" + rna_counts_pos_ctrls["variable"] + "__barc:" + rna_counts_pos_ctrls["barc_id"].astype(str)
rna_counts_pos_ctrls.sample(5)

,element,barcode,tile_type,barc_id,variable,value,samp_id
8822,CGTCCAACATGGCTGCCGCGGCGCGTTCGAAGACGCCGCGAACAGG...,CATTGGGCAAT,CONTROL_SNP_INDIV,21,VSMC_rep3,616.0,samp:VSMC_rep3__barc:21
4655,CCAGTGGGGGAGGCTGACATCACCACGGCGGCAGCCCTTTAAACCC...,GGGCTTATTAC,CONTROL_BUT_HAS_SNP,49,VSMC_rep2,227.0,samp:VSMC_rep2__barc:49
7028,TGGGCAGGCGGGGCAGCTCCGGCGCTCCTCGGAGACCACTGCGCTC...,GTACTTAATTC,CONTROL_SNP_INDIV,21,VSMC_rep2,528.0,samp:VSMC_rep2__barc:21
3730,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,CACAACGGCTA,CONTROL_BUT_HAS_SNP,30,VSMC_rep2,396.0,samp:VSMC_rep2__barc:30
1751,CGTCCAACATGGCTGCCGCGGCGCGTTCGAAGACGCCGCGAACAGG...,CTTTACGAAGA,CONTROL_BUT_HAS_SNP,61,VSMC_rep1,163.0,samp:VSMC_rep1__barc:61

In [31]:
dna_counts_piv = dna_counts_filt.pivot_table(index="element", columns="samp_id", values="value").reset_index()
rna_counts_piv = rna_counts_filt.pivot_table(index="element", columns="samp_id", values="value").reset_index()
rna_counts_piv.head()

samp_id,element,samp:VSMC_rep1__barc:1,samp:VSMC_rep1__barc:10,samp:VSMC_rep1__barc:11,samp:VSMC_rep1__barc:12,samp:VSMC_rep1__barc:13,samp:VSMC_rep1__barc:14,samp:VSMC_rep1__barc:15,samp:VSMC_rep1__barc:16,samp:VSMC_rep1__barc:17,...,samp:VSMC_rep4__barc:23,samp:VSMC_rep4__barc:24,samp:VSMC_rep4__barc:25,samp:VSMC_rep4__barc:3,samp:VSMC_rep4__barc:4,samp:VSMC_rep4__barc:5,samp:VSMC_rep4__barc:6,samp:VSMC_rep4__barc:7,samp:VSMC_rep4__barc:8,samp:VSMC_rep4__barc:9
0,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,NaN,207.0,NaN,241.0,NaN,44.0,335.0,16.0,94.0,...,41.0,138.0,NaN,2.0,216.0,NaN,46.0,105.0,NaN,115.0
1,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,194.0,NaN,139.0,1.0,NaN,77.0,2.0,32.0,137.0,...,29.0,37.0,45.0,NaN,47.0,133.0,64.0,120.0,NaN,1.0
2,AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCT...,10.0,NaN,NaN,350.0,85.0,NaN,NaN,2.0,NaN,...,NaN,30.0,131.0,48.0,NaN,360.0,NaN,405.0,17.0,54.0
3,AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCT...,NaN,NaN,NaN,NaN,NaN,113.0,3.0,NaN,5.0,...,NaN,72.0,335.0,56.0,210.0,424.0,97.0,112.0,NaN,39.0
4,AAAAAAAAAAAAAAAAAAAGATACTTATTTTTGTCCTTTAAACAAG...,3.0,744.0,NaN,10.0,NaN,27.0,168.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,16.0,NaN,NaN

In [32]:
dna_counts_pos_ctrl_piv = dna_counts_pos_ctrls.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_pos_ctrl_piv = rna_counts_pos_ctrls.pivot(index="element", columns="samp_id", values="value").reset_index()
rna_counts_pos_ctrl_piv.head()

samp_id,element,samp:VSMC_rep1__barc:1,samp:VSMC_rep1__barc:10,samp:VSMC_rep1__barc:100,samp:VSMC_rep1__barc:11,samp:VSMC_rep1__barc:12,samp:VSMC_rep1__barc:13,samp:VSMC_rep1__barc:14,samp:VSMC_rep1__barc:15,samp:VSMC_rep1__barc:16,...,samp:VSMC_rep4__barc:90,samp:VSMC_rep4__barc:91,samp:VSMC_rep4__barc:92,samp:VSMC_rep4__barc:93,samp:VSMC_rep4__barc:94,samp:VSMC_rep4__barc:95,samp:VSMC_rep4__barc:96,samp:VSMC_rep4__barc:97,samp:VSMC_rep4__barc:98,samp:VSMC_rep4__barc:99
0,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,2.0,211.0,40.0,352.0,22.0,83.0,614.0,403.0,51.0,...,NaN,100.0,30.0,2.0,584.0,52.0,184.0,223.0,38.0,387.0
1,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,101.0,306.0,64.0,906.0,44.0,394.0,155.0,180.0,142.0,...,63.0,224.0,506.0,224.0,95.0,70.0,370.0,372.0,140.0,14.0
2,AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...,NaN,NaN,1.0,887.0,58.0,NaN,NaN,107.0,43.0,...,56.0,2.0,NaN,13.0,46.0,NaN,84.0,50.0,160.0,NaN
3,AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...,173.0,118.0,539.0,99.0,17.0,1147.0,255.0,160.0,87.0,...,NaN,NaN,41.0,139.0,158.0,100.0,1.0,NaN,NaN,122.0
4,ACAGACAATAACTCAGTGCCTGGCAAACAGTGAGCACTATGCAAAC...,1.0,88.0,45.0,16.0,99.0,13.0,NaN,NaN,42.0,...,32.0,NaN,NaN,128.0,NaN,50.0,1.0,NaN,110.0,68.0

In [33]:
dna_counts_piv.fillna(0, inplace=True)
rna_counts_piv.fillna(0, inplace=True)
rna_counts_piv.head()

samp_id,element,samp:VSMC_rep1__barc:1,samp:VSMC_rep1__barc:10,samp:VSMC_rep1__barc:11,samp:VSMC_rep1__barc:12,samp:VSMC_rep1__barc:13,samp:VSMC_rep1__barc:14,samp:VSMC_rep1__barc:15,samp:VSMC_rep1__barc:16,samp:VSMC_rep1__barc:17,...,samp:VSMC_rep4__barc:23,samp:VSMC_rep4__barc:24,samp:VSMC_rep4__barc:25,samp:VSMC_rep4__barc:3,samp:VSMC_rep4__barc:4,samp:VSMC_rep4__barc:5,samp:VSMC_rep4__barc:6,samp:VSMC_rep4__barc:7,samp:VSMC_rep4__barc:8,samp:VSMC_rep4__barc:9
0,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,0.0,207.0,0.0,241.0,0.0,44.0,335.0,16.0,94.0,...,41.0,138.0,0.0,2.0,216.0,0.0,46.0,105.0,0.0,115.0
1,AAAAAAAAAAAAAAAAAAAAAAAAAATTAGCCAGACATGTTGGCAG...,194.0,0.0,139.0,1.0,0.0,77.0,2.0,32.0,137.0,...,29.0,37.0,45.0,0.0,47.0,133.0,64.0,120.0,0.0,1.0
2,AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCT...,10.0,0.0,0.0,350.0,85.0,0.0,0.0,2.0,0.0,...,0.0,30.0,131.0,48.0,0.0,360.0,0.0,405.0,17.0,54.0
3,AAAAAAAAAAAAAAAAAAAAAAGGCTGGGCGTGGTGGCGGGCGCCT...,0.0,0.0,0.0,0.0,0.0,113.0,3.0,0.0,5.0,...,0.0,72.0,335.0,56.0,210.0,424.0,97.0,112.0,0.0,39.0
4,AAAAAAAAAAAAAAAAAAAGATACTTATTTTTGTCCTTTAAACAAG...,3.0,744.0,0.0,10.0,0.0,27.0,168.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,16.0,0.0,0.0

In [34]:
dna_counts_pos_ctrl_piv.fillna(0, inplace=True)
rna_counts_pos_ctrl_piv.fillna(0, inplace=True)

## 8. filter: remove any elements that don't have >=50% of barcodes with DNA counts >= 10

In [35]:
dna_counts_piv["dna_status"] = dna_counts_piv.apply(dna_status, barc_thresh=10, perc_barc_thresh=0.5, 
                                                    ctrl_elems=ctrl_elems, axis=1)
dna_counts_pos_ctrl_piv["dna_status"] = dna_counts_pos_ctrl_piv.apply(dna_status, barc_thresh=10, 
                                                                      perc_barc_thresh=0.5, 
                                                                      ctrl_elems=ctrl_elems, axis=1)
dna_counts_piv.dna_status.value_counts()

good    8343
bad     1328
Name: dna_status, dtype: int64

In [36]:
dna_counts_pos_ctrl_piv.dna_status.value_counts()

good    36
bad      6
Name: dna_status, dtype: int64

In [106]:
good_dna_elems = list(dna_counts_piv[dna_counts_piv["dna_status"] == "good"]["element"])
good_pos_ctrl_dna_elems = list(dna_counts_pos_ctrl_piv[dna_counts_pos_ctrl_piv["dna_status"] == "good"]["element"])

In [37]:
good_dna_elems = list(rna_counts_piv["element"])
good_pos_ctrl_dna_elems = list(rna_counts_pos_ctrl_piv["element"])

In [38]:
dna_counts_piv_filt = dna_counts_piv[dna_counts_piv["element"].isin(good_dna_elems)]
dna_counts_piv_filt.drop("dna_status", axis=1, inplace=True)
rna_counts_piv_filt = rna_counts_piv[rna_counts_piv["element"].isin(good_dna_elems)]
print(len(dna_counts_piv_filt))
print(len(rna_counts_piv_filt))

9663
9663

In [39]:
dna_counts_pos_ctrl_piv_filt = dna_counts_pos_ctrl_piv[dna_counts_pos_ctrl_piv["element"].isin(good_pos_ctrl_dna_elems)]
dna_counts_pos_ctrl_piv_filt.drop("dna_status", axis=1, inplace=True)
rna_counts_pos_ctrl_piv_filt = rna_counts_pos_ctrl_piv[rna_counts_pos_ctrl_piv["element"].isin(good_pos_ctrl_dna_elems)]
print(len(dna_counts_pos_ctrl_piv_filt))
print(len(rna_counts_pos_ctrl_piv_filt))

42
42

## Merge positive controls with the rest

In [40]:
dna_counts_piv_filt = dna_counts_pos_ctrl_piv_filt.append(dna_counts_piv_filt)
dna_counts_piv_filt.shape

(9705, 101)

In [41]:
rna_counts_piv_filt = rna_counts_pos_ctrl_piv_filt.append(rna_counts_piv_filt)
rna_counts_piv_filt.shape

(9705, 401)

## Merge positive controls with random sequences for quantification

In [139]:
random_sequences_dna = dna_counts_piv_filt[dna_counts_piv_filt['element'].isin(ctrl_elems)]

In [140]:
random_sequences_rna = rna_counts_piv_filt[rna_counts_piv_filt['element'].isin(ctrl_elems)]

In [141]:
dna_counts_pos_ctrl_piv_filt.head()

samp_id,element,samp:dna_1__barc:1,samp:dna_1__barc:10,samp:dna_1__barc:100,samp:dna_1__barc:11,samp:dna_1__barc:12,samp:dna_1__barc:13,samp:dna_1__barc:14,samp:dna_1__barc:15,samp:dna_1__barc:16,...,samp:dna_1__barc:90,samp:dna_1__barc:91,samp:dna_1__barc:92,samp:dna_1__barc:93,samp:dna_1__barc:94,samp:dna_1__barc:95,samp:dna_1__barc:96,samp:dna_1__barc:97,samp:dna_1__barc:98,samp:dna_1__barc:99
0,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,255.0,606.0,548.0,2348.0,483.0,432.0,2004.0,605.0,548.0,...,309.0,550.0,514.0,184.0,2389.0,154.0,818.0,1216.0,1103.0,3153.0
1,AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...,821.0,2343.0,767.0,2284.0,265.0,1494.0,727.0,495.0,590.0,...,347.0,1769.0,1054.0,1224.0,559.0,629.0,1970.0,2309.0,1478.0,229.0
2,AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...,0.0,364.0,262.0,662.0,85.0,0.0,499.0,173.0,255.0,...,616.0,350.0,8.0,148.0,49.0,0.0,205.0,728.0,533.0,173.0
3,AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...,1598.0,321.0,1013.0,314.0,303.0,461.0,311.0,303.0,418.0,...,517.0,324.0,84.0,533.0,721.0,192.0,24.0,226.0,221.0,382.0
4,ACAGACAATAACTCAGTGCCTGGCAAACAGTGAGCACTATGCAAAC...,230.0,317.0,52.0,56.0,653.0,529.0,264.0,131.0,321.0,...,474.0,164.0,37.0,420.0,302.0,162.0,214.0,137.0,969.0,674.0

In [142]:
positive_random_dna = dna_counts_pos_ctrl_piv_filt.append(random_sequences_dna)
positive_random_rna = rna_counts_pos_ctrl_piv_filt.append(random_sequences_rna)

In [143]:
positive_random_dna.sample(5)

samp_id,element,samp:dna_1__barc:1,samp:dna_1__barc:10,samp:dna_1__barc:100,samp:dna_1__barc:11,samp:dna_1__barc:12,samp:dna_1__barc:13,samp:dna_1__barc:14,samp:dna_1__barc:15,samp:dna_1__barc:16,...,samp:dna_1__barc:90,samp:dna_1__barc:91,samp:dna_1__barc:92,samp:dna_1__barc:93,samp:dna_1__barc:94,samp:dna_1__barc:95,samp:dna_1__barc:96,samp:dna_1__barc:97,samp:dna_1__barc:98,samp:dna_1__barc:99
9263,TTGGAGCGAGTCGAAAACTGTGAATGCCTCTTAGACTGACCGCGGC...,838.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9383,TTTATACGTCTAAGGGGGGATGGTGTGCCTATACATGAGCAGTATA...,2444.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4153,CGCTGTATTAAGCCATCGGAGCCGAAGTAAGACCCAACAGTCCAAG...,2155.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6522,GGTTTGTCGTTCGGTGAGTTTTTTCTACTCCTATTTGGCACGCGCC...,25.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8820,TGTTGTCCCTTGCGAAACAACGATATGCTAACTCCGTTGCAGGCAC...,268.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
positive_random_dna.fillna(0, inplace=True)
positive_random_rna.fillna(0, inplace=True)

## 9. get negative control IDs [negative controls only for quantification]

In [42]:
ctrls = rna_counts_piv_filt[["element"]].merge(index_elem[["element", "tile_type"]], on="element", how="left")
print(len(ctrls))
ctrls.head()

9705

                                             element            tile_type
0  AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...    CONTROL_SNP_INDIV
1  AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...  CONTROL_BUT_HAS_SNP
2  AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...    CONTROL_SNP_INDIV
3  AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...  CONTROL_BUT_HAS_SNP
4  ACAGACAATAACTCAGTGCCTGGCAAACAGTGAGCACTATGCAAAC...    CONTROL_SNP_INDIV

In [43]:
ctrls["ctrl_status"] = ctrls.apply(get_ctrl_status, axis=1)
ctrls.sample(5)

,element,tile_type,ctrl_status
9581,TTTTAATTATTTCCTTCAGGGCCGAGTGCGGTGGCTTACTCCTGTA...,WILDTYPE_SNP_INDIV,False
5990,GCTTATAAGGGAAAAAGGGAGGCAGGAGGGTTGAAGCCACAGGAAA...,WILDTYPE_SNP_INDIV,False
5919,GCTCGAACTGGGTGGAGCCCACCGCAGTTCAAGGAGGCCTGCCTGC...,WILDTYPE_BUT_HAS_SNP,False
2662,ATTAAAAGGATTATGCACGATAACCAAGTGGGTTTATTCCTGGAAA...,WILDTYPE_BUT_HAS_SNP,False
5960,GCTGGCTGAGCCACAGCCGGATTCCCTCCTCCGCTCCCCACCACAG...,WILDTYPE_SNP_INDIV,False

In [44]:
ctrls.ctrl_status.value_counts()

False    9370
True      335
Name: ctrl_status, dtype: int64

In [46]:
ctrls = positive_random_rna[["element"]].merge(index_elem[["element", "tile_type"]], on="element", how="left")
print(len(ctrls))
ctrls.head()

377

                                             element            tile_type
0  AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...    CONTROL_SNP_INDIV
1  AAAGGCTGTGATTGTACGTGCAACTGTCATCTTGCTGGGATTGTGT...  CONTROL_BUT_HAS_SNP
2  AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...    CONTROL_SNP_INDIV
3  AACAGTGAAAATGATAATTCAAACTAATACTGTTTACAGGGAGTTA...  CONTROL_BUT_HAS_SNP
4  ACAGACAATAACTCAGTGCCTGGCAAACAGTGAGCACTATGCAAAC...    CONTROL_SNP_INDIV

In [47]:
ctrls["ctrl_status"] = ctrls.apply(get_ctrl_status, axis=1)
ctrls.sample(5)

,element,tile_type,ctrl_status
314,TATGTCCCGAGAACCGCGCAGATGGAACGGTAACAGAAGGAAGAGG...,RANDOM,True
28,GCGAGCCAGTGGGGGAGGCTGACATCACCACGGCGGCAGCCCTTTA...,CONTROL_BUT_HAS_SNP,False
52,AATGAAATCGAACATCTCGACAAGATCGCTAGGACAGTCAAAAGAA...,RANDOM,True
306,TAGTAATTCACTAGGCAATTCCTAGAAAATCGATCTCCTAGCCATA...,RANDOM,True
198,CTCGCATCGGGTCAGTCTACACGTTACAGGACCGCGCCGTGAGAGT...,RANDOM,True

## 10.create overall annotation file

In [48]:
dna_cols = [x for x in dna_counts_piv_filt.columns if "samp:" in x]
rna_cols = [x for x in rna_counts_piv_filt.columns if "samp:" in x]

In [50]:
dna_col_ann = {}
rna_col_ann = {}
for cols, ann in zip([dna_cols, rna_cols], [dna_col_ann, rna_col_ann]):
    for col in cols:
        samp = col.split("__")[0].split("_")[-1]
        cond = col.split(":")[1].split("_")[0]
        barc = col.split(":")[-1]
        ann[col] = {"sample": samp, "condition": cond, "barcode": barc}

dna_col_ann = pd.DataFrame.from_dict(dna_col_ann, orient="index")
rna_col_ann = pd.DataFrame.from_dict(rna_col_ann, orient="index")
rna_col_ann.sample(5)

                        sample condition barcode
samp:VSMC_rep4__barc:92   rep4      VSMC      92
samp:VSMC_rep3__barc:61   rep3      VSMC      61
samp:VSMC_rep2__barc:12   rep2      VSMC      12
samp:VSMC_rep4__barc:6    rep4      VSMC       6
samp:VSMC_rep3__barc:50   rep3      VSMC      50

In [47]:
dna_cols = [x for x in positive_random_dna.columns if "samp:" in x]
rna_cols = [x for x in positive_random_rna.columns if "samp:" in x]

NameError: name 'positive_random_dna' is not defined

In [126]:
dna_col_ann = {}
rna_col_ann = {}
for cols, ann in zip([dna_cols, rna_cols], [dna_col_ann, rna_col_ann]):
    for col in cols:
        samp = col.split("__")[0].split("_")[-1]
        cond = col.split(":")[1].split("_")[0]
        barc = col.split(":")[-1]
        ann[col] = {"sample": samp, "condition": cond, "barcode": barc}

dna_col_ann = pd.DataFrame.from_dict(dna_col_ann, orient="index")
rna_col_ann = pd.DataFrame.from_dict(rna_col_ann, orient="index")
rna_col_ann.sample(5)

                        sample condition barcode
samp:VSMC_rep1__barc:5    rep1      VSMC       5
samp:VSMC_rep3__barc:64   rep3      VSMC      64
samp:VSMC_rep3__barc:12   rep3      VSMC      12
samp:VSMC_rep3__barc:27   rep3      VSMC      27
samp:VSMC_rep3__barc:29   rep3      VSMC      29

## 11. write final files [for quantification analysis]

In [51]:
mpranalyze_dir = "../../../data/01_counts/mpranalyze_files"

In [52]:
dna_counts_piv_filt.set_index("element", inplace=True)
rna_counts_piv_filt.set_index("element", inplace=True)

In [53]:
# write final files
dna_col_ann.to_csv("%s/dna_col_ann.mpranalyze.for_quantification.final.VSMC.txt" % mpranalyze_dir, sep="\t")
rna_col_ann.to_csv("%s/rna_col_ann.mpranalyze.for_quantification.final.VSMC.txt" % mpranalyze_dir, sep="\t")

ctrls = ctrls[["element", "ctrl_status"]]
ctrls.to_csv("%s/ctrl_status.mpranalyze.for_quantification.final.VSMC.txt" % mpranalyze_dir, sep="\t", index=False)

dna_counts_piv_filt.to_csv("%s/dna_counts.mpranalyze.for_quantification.final.VSMC.txt" % mpranalyze_dir, sep="\t", index=True)
rna_counts_piv_filt.to_csv("%s/rna_counts.mpranalyze.for_quantification.final.VSMC.txt" % mpranalyze_dir, sep="\t", index=True)

In [127]:
positive_random_dna.set_index("element", inplace=True)
positive_random_rna.set_index("element", inplace=True)

In [129]:
# write final files
dna_col_ann.to_csv("%s/dna_col_ann.mpranalyze.for_quantification.positive.txt" % mpranalyze_dir, sep="\t")
rna_col_ann.to_csv("%s/rna_col_ann.mpranalyze.for_quantification.positive.txt" % mpranalyze_dir, sep="\t")

ctrls = ctrls[["element", "ctrl_status"]]
ctrls.to_csv("%s/ctrl_status.mpranalyze.for_quantification.positive.txt" % mpranalyze_dir, sep="\t", index=False)

positive_random_dna.to_csv("%s/dna_counts.mpranalyze.for_quantification.positive.txt" % mpranalyze_dir, sep="\t", index=True)
positive_random_rna.to_csv("%s/rna_counts.mpranalyze.for_quantification.positive.txt" % mpranalyze_dir, sep="\t", index=True)